<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Blackjack {{user_name}}</h1>
    <div id="player-hands">
        {% for i, hand in enumerate(player_hands) %}
        <div class="player-hand">
            <h2>Player Hand {{i + 1}}</h2>
            <div id="player-hand-{{i}}">{{hand}}</div>
            <span>Value: {{hand.value}}</span>
            <button class="hit-button" data-hand-index="{{i}}">Hit</button>
            
            
        </div>
        {% endfor %}
    </div>
    <button class="stand-button" >Stand</button>
    {% if num_of_hands > 1 %}
    
    {% for i, hand in enumerate(winner) %}
    <div>
        
        <h2>{{hand}} </h2>
    </div>
    {% endfor %}
    {% endif %}
    {% if num_of_hands == 1 %}
    <h2>{{winner[0]}} </h2>
    {% endif %}
    <div>
        <h2>Dealer Hand</h2>
        <div id="dealer-hand">{{dealer_hand}}</div>
        <span>Value: {{dealer}}</span>
    </div>
    <button id="split-button">Split</button>
    <script>
    $(document).ready(function() {
        $(".hit-button").click(function() {
            var handIndex = $(this).data("hand-index");
            $.ajax({
                type: "POST",
                url: "/blackjack/hit",
                data: {hand_index: handIndex},
                success: function(response) {
                    $("body").html(response);
                }
            });
        });
        $(".stand-button").click(function() {
            var handIndex = $(this).data();
            $.ajax({
                type: "POST",
                url: "/blackjack/stand",
                data: {hand_index: handIndex},
                success: function(response) {
                    $("body").html(response);
                }
            });
        });
        $("#split-button").click(function() {
            $.ajax({
                type: "POST",
                url: "/blackjack/split",
                success: function(response) {
                    $("body").html(response);
                }
            });
        });
    });
    </script>
</body>
</html>
