<h1>Welcome, <a href="{{ user.profile_url }}">{{ user.username }}</a>!</h1>

<h2>Forum</h2>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.emit('check_inactivity'); // Emit check_inactivity event to start the inactivity check
    
    socket.on('inactive_warning', function(data) {
        console.log('Received inactive warning:', data.message);
        // Display inactive warning message
        window.alert("inactive_warning");
    });
    
    socket.on('force_logout', function(data) {
        console.log('Received force logout:', data.message);
        // Display force logout message
        window.alert("force_logout");
    });
</script>

<script>
    $(document).ready(function(){
        function fetchMessages(){
            var selected_forum = $("form").data("forum");
            $.ajax({
                url: "{{ url_for('forum', selected_forum=selected_forum) }}",
                method: "GET",
                success: function(response){
                    $('#message-list').html(response);
                }
            });
        }

        setInterval(fetchMessages, 5000); // Fetch messages every 5 seconds

        $('#message-form').submit(function(event){
            event.preventDefault();
            var message = $('textarea[name="message"]').val();
            var selected_forum = $("form").data("forum");
            $.ajax({
                url: "{{ url_for('forum', selected_forum=selected_forum) }}",
                method: "POST",
                data: {message: message},
                success: function(){
                    fetchMessages(); // Fetch messages after sending a message
                }
            });
            $('textarea[name="message"]').val('');
        });
    });
</script>

<form method="post" id="message-form" data-forum="{{ selected_forum }}">
    <p>
        <select name="selected_forum" onchange="this.form.submit()">
            <option value="Forum1" {% if selected_forum == 'Forum1' %}selected{% endif %}>Forum1</option>
        </select>
    </p>
    <p><textarea name="message" rows="4" cols="50" placeholder="Enter your message"></textarea></p>
    <p><input type="submit" value="Post"></p>
</form>

<h3>Messages:</h3>
<ul id="message-list">
    {%  for message in messages  %}
        <li><a href="{{message.profile_url }}">{{ message.username }}</a></strong>: {{ message.message }}</li>
    {% endfor %}
</ul>

<p><a href="{{ url_for('index') }}">Back to Home</a></p>