<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.emit('check_inactivity'); // Emit check_inactivity event to start the inactivity check
    
    socket.on('inactive_warning', function(data) {
        console.log('Received inactive warning:', data.message);
        // Display inactive warning message
        alert(data.message); 
    });
    
    socket.on('force_logout', function(data) {
        console.log('Received force logout:', data.message);
        // Display force logout message
        alert(data.message); 
    });
</script>
<body>
    <h1>Welcome, <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>!</h1>
    <p>Active Users:</p>
    <ul>
        {% for user in active_users %}
            <li><a href="{{ user.profile_url }}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
    <p>Please choose an option:</p>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/forum?selected_forum=Forum1">Forum1</a></li>
        <li><a href="/forum?selected_forum=Forum2">Forum2</a></li>
    </ul>
</body>
</html>
