<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.emit('check_inactivity'); // Emit check_inactivity event to start the inactivity check
    
    socket.on('inactive_warning', function(data) {
        console.log('Received inactive warning:', data.message);
        // Display inactive warning message
        alert(data.message); 
    });
    
    socket.on('force_logout', function(data) {
        console.log('Received force logout:', data.message);
        // Display force logout message
        alert(data.message); 
    });
</script>
<body>
    <h1>Welcome to our website!</h1>
    <h1>Today activity is {{ active_user_count }} users</h1>
    <p>Please choose an option:</p>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</body>
<style>body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>
</html>
